
{
    
    height:100%
    


}




body{
    width: auto;
    background-image: linear-gradient(to right, #D9501E, #732002, #D98014, #F2A922, #323E40);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}

main{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    margin: auto;

}

h1{
    color: #732002;
    text-align:center
}

h2{

    background-color:#f2a92249;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

li.port{
    margin-bottom: 10px;
}